html.blue:root {
  --bg-primary-300: #A4CAFE;
  --bg-primary-400: #76A9FA;
  --bg-primary-500:#3F83F8;
  --bg-primary-600:#1C64F2;
  --bg-primary-700: #1A56DB;
  --bg-primary-800: #1E429F;
  --bg-primary-900: #233876;
  --bg-primary-1000: #192a3a;
  --bg-primary-1100: #060b13;
  --bg-primary-transparent: rgba(35, 52, 68, 0.4);
}