html.blue:root {
  --bg-primary-300: #a4cafe;
  --bg-primary-400: #76a9fa;
  --bg-primary-500: #3f83f8;
  --bg-primary-600: #1c64f2;
  --bg-primary-700: #1a56db;
  --bg-primary-800: #1e429f;
  --bg-primary-900: #233876;
  --bg-primary-1000: #192a3a;
  --bg-primary-1100: #060b13;
  --bg-primary-transparent: rgba(35, 52, 68, 0.4);
}

.blue-theme-color {
  background: #1c64f2;
}
