:root {
  --bg-primary-300: linear-gradient(45deg, rgb(109, 196, 21rgb (154, 189, 245) 246));
  --bg-primary-400: linear-gradient(45deg, rgb(77, 195, 216rgb (106, 162, 252) 46));
  --bg-primary-500: linear-gradient(45deg, rgb(32, 191, 219), rgb(74, 140, 247));
  --bg-primary-600: linear-gradient(45deg, rgb(6, 182, 212), rgb(59, 130, 246));
  --bg-primary-700: linear-gradient(45deg, rgb(4, 158, 185), rgb(39, 96, 187));
  --bg-primary-800: linear-gradient(45deg, rgb(7, 127, 148) rgb(4, 51, 128));
  --bg-primary-900: linear-gradient(45deg, rgb(7, 89, 104), rgb(7, 30, 66));
  --bg-primary-1000: #0b1627;
  --bg-primary-1100: #071222;
  --bg-primary-transparent: rgba(35, 55, 68, 0.4);
}

.bg-primary-300 {
  background: var(--bg-primary-300);
}
.bg-primary-400 {
  background: var(--bg-primary-400);
}
.bg-primary-500 {
  background: var(--bg-primary-500);
}
.bg-primary-600 {
  background: var(--bg-primary-600);
}
.bg-primary-700 {
  background: var(--bg-primary-700);
}
.bg-primary-800 {
  background: var(--bg-primary-800);
}
.bg-primary-900 {
  background: var(--bg-primary-900);
}
.bg-primary-1000 {
  background: var(--bg-primary-1000);
}
.bg-primary-1100 {
  background: var(--bg-primary-1100);
}
.bg-primary-transparent {
  background: var(--bg-primary-transparent);
}
