html.indigo:root {
  --bg-primary-300: #b4c6fc;
  --bg-primary-400: #8da2fb;
  --bg-primary-500:#6875f5;
  --bg-primary-600:#5850ec;
  --bg-primary-700: #5145cd;
  --bg-primary-800: #42389d;
  --bg-primary-900: #362f78;
  --bg-primary-1000: #171438;
  --bg-primary-1100: #080613;
  --bg-primary-transparent: rgba(39, 35, 68, 0.4);
}