html.red:root {
  --bg-primary-300: #f8b4b4;
  --bg-primary-400: #f98080;
  --bg-primary-500: #f05252;
  --bg-primary-600: #e02424;
  --bg-primary-700: #c81e1e;
  --bg-primary-800: #9b1c1c;
  --bg-primary-900: #771d1d;
  --bg-primary-1000: #311414;
  --bg-primary-1100: #130606;
  --bg-primary-transparent: rgba(68, 35, 35, 0.4);
}

.red-theme-color {
  background: #e02424;
}
