:root {
  --bg-primary-300: #F8B4B4;
  --bg-primary-400: #F98080;
  --bg-primary-500:#F05252;
  --bg-primary-600:#E02424;
  --bg-primary-700: #C81E1E;
  --bg-primary-800: #9B1C1C;
  --bg-primary-900: #771D1D;
  --bg-primary-1000: #291111;
  --bg-primary-1100: #130606;
  --bg-primary-transparent: rgba(68, 35, 35, 0.4);
}

.bg-primary-300 {
  background: var(--bg-primary-300);
}
.bg-primary-400 {
  background: var(--bg-primary-400);
}
.bg-primary-500 {
  background: var(--bg-primary-500);
}
.bg-primary-600 {
  background: var(--bg-primary-600);
}
.bg-primary-700 {
  background: var(--bg-primary-700);
}
.bg-primary-800 {
  background: var(--bg-primary-800);
}
.bg-primary-900 {
  background: var(--bg-primary-900);
}
.bg-primary-1000 {
  background: var(--bg-primary-1000);
}
.bg-primary-1100 {
  background: var(--bg-primary-1100);
}
.bg-primary-transparent {
  background: var(--bg-primary-transparent);
}