html.yellow:root {
  --bg-primary-300: #FDF6B2;
  --bg-primary-400: #FCE96A;
  --bg-primary-500:#FACA15;
  --bg-primary-600:#E3A008;
  --bg-primary-700: #C27803;
  --bg-primary-800: #9F580A;
  --bg-primary-900: #8E4B10;
  --bg-primary-1000: #292311;
  --bg-primary-1100: #131006;
  --bg-primary-transparent: rgba(68, 62, 35, 0.4);
}