.custom-input {
  outline: none !important;
  border: none !important;
  appearance: none !important;
  box-shadow: none !important;
  border-radius: 8px !important;
  background: var(--bg-primary-1000) !important;
  padding: 12px !important;
  font-size: 11pt !important;
  font-weight: 500 !important;
}

.custom-input:disabled {
  background: rgb(25, 25, 25);
  color: var(--bg-primary-200);
}