/* Шрифты */
@font-face {
  font-family: "Minecraft Rus";
  src: url("../fonts/minecraft.ttf") format("truetype");
}
@font-face {
  font-family: "Golos Text";
  src: url("../fonts/GolosText.ttf") format("truetype");
}

.mc-text {
  font-family: "Minecraft Rus";
}

body,
html {
  padding: 0;
  margin: 0;
  background: transparent;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

* {
  transition: 0.2s;
  font-family: "Golos Text", sans-serif;
  box-sizing: border-box;
  -webkit-user-select: none;
}

.no-transition {
  transition: 0s !important;
}

.material-symbols-rounded {
  margin: 0;
  padding: 0;
}

.blackscreen {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000000;
  background: black;
}

img {
  pointer-events: none;
}